$primary: #FEF1CB;
$secondary: #DAE8FC;
$pastel: #FDE6CC;
$rosa: #F9CFCC;
$lila: #E1D5E7;
$verde: #D4E7D4;
$azul: #AFDDF0;
$borde: 3px solid ;
$color-borde-secondary: #6B8FBF;
$color-borde-pastel: #D7B556;
$color-borde-rosa: #BA574F;
$color-borde-lila: #9676A6;
$color-borde-verde: #84B36A;
$color-borde-azul: #1D749E;